/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #766488;
  padding: 1rem 2rem;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #f0a500;
}
img {
  width: 150px;
  height: 50px;
}
.navbar-links a.active {
  color: #c2baba;
  text-decoration: overline;
  font-size: 1rem;
  transition: color 0.3s;
  font-weight: bold;
}
