.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the spinner fill the viewport height */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3; /* Light gray border */
  border-radius: 50%;
  border-top-color: #da3908; /* Blue spinning color */
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
